<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Here's the pokemon you requested!</title>
</head>
<body>
      <h1>Here's the pokemon you requested!</h1>
      <br>
      <img src="{{pokemon.img}}">
      <br>
      Num:
      {{pokemon.num}}
      <br>
      Name:
      {{pokemon.name}}
      <br>
      Weight: 
      {{pokemon.weight}}
      <br>
      Height: 
      {{pokemon.height}}
</body>
</html>